*.pyc
.idea/
__pycache__/
venv/
.vscode/
server/track_prices/databases
server/user_database_controller/databases
server/settings.json
server/geckodriver.log
server/logging/
server/product-matcher/models/*
!server/product-matcher/models/.gitkeep