*.pyc
.idea/
__pycache__/
venv/
.vscode/
price_assist/.mypy_cache
price_assist/track_prices/databases
price_assist/user_database_controller/databases
price_assist/geckodriver.log
price_assist/logging/
price_assist/product-matcher/models/*
!price_assist/product-matcher/models/.gitkeep